body {
    text-align: center;
    padding: 30px 10%;
    font-family: "Trebuchet MS";
}
#form1 {
    border: 1px solid silver;
    border-radius: 15px;
    padding: 30px 30px 20px 30px;
    margin: 20px auto;
    width: 450px;
    box-shadow: 0 0 silver, 0 0 20px silver;
}
.form-group div {
    text-align: left;
}
.form-group label {
    font-style: italic;
    color: gray;
    margin-bottom: 0;
    margin-left: 5px;
    font-size: 11pt;
}
.form-group small {
    display: none;
    color: red;
}
#form1 p {
    margin-top: 30px;
}